html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  background-color: black;
}

nav {
  background-color: #2ea4ae;
}

.nav-link {
  color: white;
}

.carousel-item img {
  height: 40rem;
}

.card-img-top {
  width: 100%;
  height: 232px;
  object-fit: cover;
}

#highlights h2 {
  font-weight: 700;
  color: #fff;
}

hr {
  height: 2px;
  background-color: #565454;
}
