html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

nav {
  background-color: #2ea4ae;
}

.nav-link {
  color: white;
}

.carousel-item img {
  height: 40rem;
}
